@charset "utf-8";

body {
  margin: 0;
}

.main {
  min-width: 320px;
  width: 320px;
}

.template-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.template-item {
  border-top: 1px solid #999999;
}

.template-item:first-child {
  border-top: none;
}

.item-button {
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 0;
}

.item-sample {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-family: Inconsolata, Consolas, Menlo, Monaco, "MigMix 1m", "migmix-1m", monospace;
  margin: 0;
  max-height: 3rem;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
}
